################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/IEnumerable/bin/Debug
/IEnumerable/obj/Debug
/IEnumerable/obj/Debug
/UnderstandingDelegates/bin/Debug
/UnderstandingDelegates/obj/Debug
/.vs/BuildingBlocks/v15/.suo
/zzzTestingIEnumerable/bin/Debug
/zzzTestingIEnumerable/obj/Debug
/zzzzTestingDelegates/bin/Debug
/zzzzTestingDelegates/obj/Debug
/BuildingBlocks.sln.DotSettings.user
/CommonTypes/bin/Debug
/CommonTypes/obj/Debug
/.vs/BuildingBlocks
/packages/NUnit.3.9.0
/packages/NUnit3TestAdapter.3.9.0
/packages/xunit.2.3.1
/packages/xunit.analyzers.0.8.0/tools
/packages/xunit.analyzers.0.8.0/analyzers/dotnet/cs/xunit.analyzers.dll
/packages/xunit.assert.2.3.1/lib/netstandard1.1
/packages/xunit.core.2.3.1
/packages/xunit.extensibility.core.2.3.1/lib/netstandard1.1
/packages/xunit.extensibility.execution.2.3.1/lib/net452
/packages/xunit.extensibility.core.2.3.1
/packages/xunit.runner.visualstudio.2.3.1/build/net20
/packages/xunit.runner.visualstudio.2.3.1/build/netcoreapp1.0
/packages/xunit.runner.visualstudio.2.3.1/build/uap10.0
/packages/xunit.runner.visualstudio.2.3.1/build/_common
/zzzzzTestingInterfaces/bin/Debug
/zzzzzTestingInterfaces/obj/Debug
/zzzzzTestingEvents/bin/Debug
/zzzzzTestingEvents/obj/Debug
/packages/xunit.runner.visualstudio.2.3.1
/UnderstandingInterfaces/bin/Debug
/UnderstandingInterfaces/obj/Debug
/UnderstandingEvents/bin/Debug
/UnderstandingEvents/obj/Debug
/UnderstandingIEnumerable/bin/Debug
/UnderstandingIEnumerable/obj/Debug
